<a href="https://colab.research.google.com/github/JacquelineDiazdeleon/Visualizaci-n-de-Datos/blob/main/Operaciones%20b%C3%A1sicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operaciones_básicas

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    "Nombre":["Ana","Juan","María","Carlos","Sofía"],
    "Edad":[25,30,22,28,35],
    "Ciudad":["Madrid","Barcelona","Madrid","Valencia","Barcelona"],
    "Puntuación":[85,92,78,95,88]
})

print("DataFrame Original")
print(df)

DataFrame Original
   Nombre  Edad     Ciudad  Puntuación
0     Ana    25     Madrid          85
1    Juan    30  Barcelona          92
2   María    22     Madrid          78
3  Carlos    28   Valencia          95
4   Sofía    35  Barcelona          88

Filtrado

In [4]:
mayores_25 = df[df["Edad"] > 25]
print("\nPersonas mayores de 25 años:")
print(mayores_25)

Personas mayores de 25 años:
   Nombre  Edad     Ciudad  Puntuación
1    Juan    30  Barcelona          92
3  Carlos    28   Valencia          95
4   Sofía    35  Barcelona          88

Agrupación y agregación

In [5]:
resultado = df[df["Edad"]> 25].groupby("Ciudad")["Puntuación"].max()
print("\nMáxima puntuación por ciudad para personas mayores de 25 años:")
print(resultado)

Máxima puntuación por ciudad para personas mayores de 25 años:
Ciudad
Barcelona    92
Valencia     95
Name: Puntuación, dtype: int64