<a href="https://colab.research.google.com/github/JacquelineDiazdeleon/Visualizaci-n-de-Datos/blob/main/Uniones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 6

Tipos de uniones (Joins) en python

1. Inner Join

In [1]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({
    'ID' : [1, 2, 3, 4],
    "Nombre": ["Ana", "Juan", "María", "Carlos"],
    "Departamento": ["Ventas", "IT", "Marketing", "RH"]
    })

df2 = pd. DataFrame({
    "ID": [3, 4, 5, 6],
    "Salario": ["50000", "60000", "55000", "65000"],
})

print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

DataFrame 1:
   ID  Nombre Departamento
0   1     Ana       Ventas
1   2    Juan           IT
2   3   María    Marketing
3   4  Carlos           RH
DataFrame 2:
   ID Salario
0   3   50000
1   4   60000
2   5   55000
3   6   65000

Fusión inner

In [4]:
inner_merge = pd.merge(df1, df2, on="ID", how="inner")
print("Fusion inner:")
print(inner_merge)

Fusion inner:
   ID  Nombre Departamento Salario
0   3   María    Marketing   50000
1   4  Carlos           RH   60000

Fusión outer

In [6]:
outer_merge = pd.merge(df1, df2, on="ID", how="outer")
print("Fusion outer:")
print(outer_merge)

Fusion outer:
   ID  Nombre Departamento Salario
0   1     Ana       Ventas     NaN
1   2    Juan           IT     NaN
2   3   María    Marketing   50000
3   4  Carlos           RH   60000
4   5     NaN          NaN   55000
5   6     NaN          NaN   65000

Fusión left

In [9]:
left_merge = pd.merge(df1, df2, on="ID", how="left")
print("Fusion left:")
print(left_merge)

Fusion left:
   ID  Nombre Departamento Salario
0   1     Ana       Ventas     NaN
1   2    Juan           IT     NaN
2   3   María    Marketing   50000
3   4  Carlos           RH   60000

Fusión right

In [10]:
right_merge = pd.merge(df1, df2, on="ID", how="right")
print("Fusion right:")
print(right_merge)

Fusion right:
   ID  Nombre Departamento Salario
0   3   María    Marketing   50000
1   4  Carlos           RH   60000
2   5     NaN          NaN   55000
3   6     NaN          NaN   65000

Concatenación

In [13]:
df3 = pd.DataFrame({
    "ID": [7, 8],
    "Nombre": ["Sofía", "Pedro"],
    "Departamento": ["Finanzas", "Ventas"]
})

concatenated1 = pd.concat([df1, df3])
print("Concatenación de DataFrames:")
print(concatenated1)

Concatenación de DataFrames:
   ID  Nombre Departamento
0   1     Ana       Ventas
1   2    Juan           IT
2   3   María    Marketing
3   4  Carlos           RH
0   7   Sofía     Finanzas
1   8   Pedro       Ventas