<a href="https://colab.research.google.com/github/JacquelineDiazdeleon/Visualizaci-n-de-Datos/blob/main/Ventajas%20de%20Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Librer√≠a Numpy
Nos permite manejar los arreglos
Cargar librerias pandas y numpy

In [1]:
import pandas as pd
import numpy as np

Crear un DataFrame con datos sucios

In [3]:
     df = pd.DataFrame({
    "A": [1, 2, np.nan, 4, 5],
    "B": [5, 6, 7, np.nan, 9],
    "C": ["a", "b", "c", "d", "e"],
    "D": ["foo", "bar", "foo", "bar", "foo"]
})

print("DataFrame original:")
print(df)

DataFrame original:
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar
2  NaN  7.0  c  foo
3  4.0  NaN  d  bar
4  5.0  9.0  e  foo

Eliminar filas con valores nulos

In [4]:
df_clean = df.dropna()
print("\nDataFrame sin filas nulas:")
print(df_clean)

DataFrame sin filas nulas:
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar
4  5.0  9.0  e  foo

Rellenar valores nulos

In [5]:
df_filled = df.fillna(value={"A": df["A"].mean(), "B": df["B"].median()})
print("\nDataFrame con valores nulos rellenados:")
print(df_filled)

DataFrame con valores nulos rellenados:
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar
2  3.0  7.0  c  foo
3  4.0  6.5  d  bar
4  5.0  9.0  e  foo

Eliminar duplicados

In [6]:
df_no_duplicates = df.drop_duplicates(subset=["D"])
print("\nDataFrame sin duplicados en la columna:")
print(df_no_duplicates)

DataFrame sin duplicados en la columna:
     A    B  C    D
0  1.0  5.0  a  foo
1  2.0  6.0  b  bar

Renombrar columnas

In [7]:
df_renamed = df.rename(columns={"A": "Alpha", "B": "Beta",
                                "C": "Charlie", "D": "Delta"})
print("\nDataFrame con nombres de columnas renombradas:")
print(df_renamed)

DataFrame con nombres de columnas renombradas:
   Alpha  Beta Charlie Delta
0    1.0   5.0       a   foo
1    2.0   6.0       b   bar
2    NaN   7.0       c   foo
3    4.0   NaN       d   bar
4    5.0   9.0       e   foo